@charset "UTF-8";
@font-face {
    font-family: 'Droid';
    src:
        url(fontes/idroid.otf) format("truetype"),
        url(fontes/idroid.otf) format("opentype");
        font-weight: normal;
        font-style: normal;
}
body {
    background-color: rgb(47, 255, 220);
}

header {
    background-image: linear-gradient(180deg, #15e242, #128a0a, #072e04);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    text-shadow: black;
    
}
nav {
    text-align: left;
    color: white;
    text-decoration: none;

    
}
nav > a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
a:visited {
    color: white;
    text-decoration: none;
}
h2 {
    font-family: 'Droid';
    color: #093d05;
}

h2.titulo-personalizado {
    background-image: linear-gradient(to right, #15e2af, #b6eee0, #ffffff);
}
main {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px;
    text-align: justify;
}
